@import url('https://fonts.googleapis.com/css2?family=Righteous');

body {
    background-image: url('video.gif');
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Poppins', sans-serif;
}


.text h1 {
    margin: -10%;
    font-size: clamp(40px, 60vw, 60px);
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    
}


#startButton {
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #e2264d;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#startButton:hover {
    background-color: #c02041;
}